<div>
    <h2 id="page-heading">
        <span jhiTranslate="blogSpringAngularApp.document.home.title">Documents</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-document" [routerLink]="['/document/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="blogSpringAngularApp.document.home.createLabel">
            Create a new Document
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="documents?.length === 0">
        <span jhiTranslate="blogSpringAngularApp.document.home.notFound">No documents found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="documents && documents.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="fileName"><span jhiTranslate="blogSpringAngularApp.document.fileName">File Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="documentType"><span jhiTranslate="blogSpringAngularApp.document.documentType">Document Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="documentFormat"><span jhiTranslate="blogSpringAngularApp.document.documentFormat">Document Format</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="uploadDir"><span jhiTranslate="blogSpringAngularApp.document.uploadDir">Upload Dir</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="user.login"><span jhiTranslate="blogSpringAngularApp.document.user">User</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="blog.name"><span jhiTranslate="blogSpringAngularApp.document.blog">Blog</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let document of documents ;trackBy: trackId">
                    <td><a [routerLink]="['/document', document.id, 'view']">{{ document.id }}</a></td>
                    <td>{{ document.fileName }}</td>
                    <td jhiTranslate="{{ 'blogSpringAngularApp.DocumentType.' + document.documentType }}">{{ document.documentType }}</td>
                    <td>{{ document.documentFormat }}</td>
                    <td>{{ document.uploadDir }}</td>
                    <td>
                        {{ document.user?.login }}
                    </td>
                    <td>
                        <div *ngIf="document.blog">
                            <a [routerLink]="['/blog', document.blog?.id, 'view']" >{{ document.blog?.name }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/document', document.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/document', document.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(document)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="documents && documents.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
