<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-document-heading" jhiTranslate="blogSpringAngularApp.document.home.createOrEditLabel">Create or edit a Document</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="blogSpringAngularApp.document.fileName" for="field_fileName">File Name</label>
                    <input type="text" class="form-control" name="fileName" id="field_fileName"
                           formControlName="fileName"/>
                    <div *ngIf="editForm.get('fileName')!.invalid && (editForm.get('fileName')!.dirty || editForm.get('fileName')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('fileName')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="blogSpringAngularApp.document.documentType" for="field_documentType">Document Type</label>
                    <select class="form-control" name="documentType" formControlName="documentType" id="field_documentType">
                        <option value="PROFILE">{{ 'blogSpringAngularApp.DocumentType.PROFILE' | translate }}</option>
                        <option value="BLOG">{{ 'blogSpringAngularApp.DocumentType.BLOG' | translate }}</option>
                        <option value="PASSPORT">{{ 'blogSpringAngularApp.DocumentType.PASSPORT' | translate }}</option>
                        <option value="CV">{{ 'blogSpringAngularApp.DocumentType.CV' | translate }}</option>
                        <option value="ENTRY">{{ 'blogSpringAngularApp.DocumentType.ENTRY' | translate }}</option>
                    </select>
                    <div *ngIf="editForm.get('documentType')!.invalid && (editForm.get('documentType')!.dirty || editForm.get('documentType')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('documentType')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="blogSpringAngularApp.document.documentFormat" for="field_documentFormat">Document Format</label>
                    <input type="text" class="form-control" name="documentFormat" id="field_documentFormat"
                           formControlName="documentFormat"/>
                    <div *ngIf="editForm.get('documentFormat')!.invalid && (editForm.get('documentFormat')!.dirty || editForm.get('documentFormat')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('documentFormat')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="blogSpringAngularApp.document.uploadDir" for="field_uploadDir">Upload Dir</label>
                    <input type="text" class="form-control" name="uploadDir" id="field_uploadDir"
                           formControlName="uploadDir"/>
                    <div *ngIf="editForm.get('uploadDir')!.invalid && (editForm.get('uploadDir')!.dirty || editForm.get('uploadDir')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('uploadDir')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="blogSpringAngularApp.document.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" formControlName="user">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === editForm.get('user')!.value?.id ? editForm.get('user')!.value : userOption" *ngFor="let userOption of users; trackBy: trackById">{{ userOption.login }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="blogSpringAngularApp.document.blog" for="field_blog">Blog</label>
                    <select class="form-control" id="field_blog" name="blog" formControlName="blog">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="blogOption.id === editForm.get('blog')!.value?.id ? editForm.get('blog')!.value : blogOption" *ngFor="let blogOption of blogs; trackBy: trackById">{{ blogOption.name }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
